<%- include('partials/header.ejs') %>
        <div class="jumbotron">
            <h1> Welcome to Earth! </h1>
        </div>
        
        <%- include('partials/nav.ejs') %>
        
        <p> Our Home Planet! The only cestial body we known that holds life. Earth 
        is about 4.5 billion years old according to raiometric dating. Earth's year 
        is slighty more than 365 days as we know it, it is 365.256 days. The extra 
        time is turned into our leap year with one extra day every 4 years. Earth's 
        orbit and rotation are nearly exact 365.256 approx. for both its year, and 
        number of orbit's per year.</p>
        <img width="50%" src="/img/earth.jpg" alt="Earth" />

<%- include('partials/footer.ejs') %>