<%- include('partials/header.ejs') %>
        <div class="jumbotron">
            <h1> Welcome to Mercury! </h1>
        </div>
        
        <%- include('partials/nav.ejs') %>
        
        <p> 1st planet in our Solar System. Being the first planet, it is also the 
            closest planet to our sun. One year on the planet is less than 3 months
            on earth ~88 days. Mercury for every two years on it, spins only exactly
            3 times, always coming back to its original position.</p>
        <img width="50%" src="/img/mercury.jpg" alt="Mercury" />

<%- include('partials/footer.ejs') %>