<%- include('partials/header.ejs') %>
        <div class="jumbotron">
            <h1> Welcome to Venus! </h1>
        </div>
        
        <%- include('partials/nav.ejs') %>
        
        <p> 2nd planet in our Solar System, second closest to our sun. A moonless
            planet which rotates in the opposite direction than earth. The sun would
            rise in the west and set in the east. Its year would be ~2/3 of earths year,
            225 earth days. Having the slowest rotation it takes longer to rotate about its axis
            than its orbit around the sun, 243 earth days.</p>
        <img width="50%" src="/img/venus.jpg" alt="Mercury" />

<%- include('partials/footer.ejs') %>